.ccache
.conda
.deveco
.direnv
.env
.github

# 编译产物
/out/
src/out/
**/build_tmp/
.sconsign.dblite
src/device/hisilicon/hispark_pegasus/sdk_liteos/output/
src/device/hisilicon/hispark_pegasus/sdk_liteos/ohos/libs/
src/vendor/hihope/hispark_pegasus/demo/26_paho.mqtt.embedded-c/build/

# Python
__pycache__/
*.pyc

# 日志与临时文件
*.log
*.swp
.DS_Store
Thumbs.db

# 编辑器/IDE
.vscode/
.idea/

src/ohos_config.json
result
.bin
.cache
